[data-atom=gmap].big{height:192px}
[data-atom=gmap].small{height:128px}
[data-atom=gmap].tiny{height:96px}
[data-organism=gmapfullscreen] > [data-atom=gmap]{position:absolute;z-index:0;width:100%;height:100%}
[data-organism=gmapfullscreen] > [data-atom=button],[data-organism=gmapfullscreen] > [data-molecule=form]{z-index:1}
[data-organism=gmapfullscreen] > [data-atom=button]{margin:.75rem}
[data-organism=gmapfullscreen] > [data-molecule=form]{position:absolute;bottom:3.1rem;padding:.75rem}
