@import "../../../style/__vendor.styl"

[data-atom=gmap]
  position: relative
  display: block
  background-color: #ddd

  display-box()
  box-align(center)
  box-pack(center)

  > .icon
    display: block
    font-size: SIZE = 3rem
    width: SIZE
    height: SIZE
    color: WHITE

  &.big
    height: 12rem
  &.small
    height: 6rem
  &:not(.big):not(.small)
    height: 8rem

[data-organism=section][data-extend=gmap]
  position: relative

  > [data-atom=gmap]
    z-index: 0
    position: absolute
    width: 100%
    height: 100% !important

  > [data-atom=button], > [data-molecule=form]
    z-index: 1
    position: absolute

  AIR = 0.75rem
  > [data-atom=button]
    top: 0
    margin: AIR

  > [data-molecule=form]
    bottom: 0
    padding: AIR

  // &:not(.menu) > [data-atom=button]
  //   display: none

  // &:not(.form) > [data-molecule=form]
  //   display: none

